.container{
text-align: center;
font-size: 30px;
}
table{
    margin: 30px;
    width: 600px;
}
input{
    font-size: 52px;
    border: 7px solid #f53838;
    border-radius: 25px;
    margin-top: 45px;
    width: 500px;
    height: 67px;
}
button{
    font-size: 48px;
    background-color: #eaf54d;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    
}
.calculator{
    border: 10px solid rgb(141, 0, 207);
    border-radius: 70px;
    display: inline-block;
    background-color: rgb(89, 215, 253);
}